// File Not Being Used

@mixin transition($target:all, $duration:0.5s, $type:ease) {
    -webkit-transition:$target $duration $type;
    -o-transition:$target $duration $type;
    -moz-transition:$target $duration $type;
    transition:$target $duration $type;
}
