/**
 * Flex Grid -
 * Version: 0.3.2
 *
 * Simple grid built with flex box and sass.
 *
 * Matthew Simo - matthew.a.simo@gmail.com
 */
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 * $fg-edge will inform how much spacing should be on the edge of each row.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/**
 * Class Name Defaults
 *
 * Define class names for columns, rows and offsets in case compatibility with other
 * libraries is necessary.


/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
.row, .project-wrapper {
  display: flex;
  display: -webkit-flex; }

/**
 * Row wrapper class, flex box parent.
 */
.row {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media only screen and (min-width: 790px) {
    .row {
      margin-left: -0.75rem;
      margin-right: -0.75rem; } }
  @media only screen and (min-width: 790px) {
    .row {
      padding-left: 3rem;
      padding-right: 3rem; } }

.project-wrapper {
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media only screen and (min-width: 790px) {
    .project-wrapper {
      padding-left: 0.75rem;
      padding-right: 0.75rem; } }

/**
 * Generate a set of grid column placeholders using a namespace
 *
 * %col-[namespace] for intelligent column division
 * %col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * %off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.project-wrapper {
  flex-basis: 100%;
  max-width: 100%;
  -webkit-flex-basis: 100%; }

.project-wrapper {
  margin-left: 0%; }

@media only screen and (min-width: 790px) {
  .project-wrapper {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    -webkit-flex-basis: 33.33333%; }
  .project-wrapper {
    margin-left: 0%; } }

h1 {
  font-size: 2.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #231f20;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 2.75rem; }

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #231f20;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem; }

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #231f20;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

p {
  font-size: 1.15em;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: #231f20;
  line-height: 1.8rem; }

a {
  color: #818080;
  text-decoration: none; }

a:hover {
  color: gold; }

.scroll-link {
  display: inline;
  padding-left: 20px;
  font-size: 1.1rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: #231f20;
  line-height: 1.25rem; }
  @media screen and (max-width: 790px) {
    .scroll-link {
      font-size: 1.5rem;
      margin-top: .5rem; } }

.navbar-inverse .navbar-nav > li > a:hover {
  color: gold; }

.navbar-inverse .navbar-nav > li > a:focus {
  color: #818080; }

.companies {
  position: relative;
  margin: auto;
  width: 80%;
  padding-top: 20px; }
  @media only screen and (min-width: 790px) {
    .companies {
      width: 70%; } }

.co-title {
  margin-bottom: 1rem; }

.co-subtitle {
  margin: 1rem 0rem 4rem 0rem; }

.row {
  padding: 0; }

.project {
  border: 1px solid #e5e6e5;
  background-color: white;
  margin: 0rem 0rem 1rem 0rem; }
  @media only screen and (min-width: 790px) {
    .project {
      margin: 0rem 0.15rem 1.75rem 0.15rem; } }

.co-logo {
  max-width: 100%;
  padding: 6% 0rem; }

/*--------------------*        Mixins
\*--------------------*/
/*--------------------*    Global Elements
\*--------------------*/
body {
  margin: 0;
  min-height: 100vh;
  background-color: #f7f5f5; }

.subtitle {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem; }

.spacer {
  height: 3rem; }
  @media screen and (max-width: 790px) {
    .spacer {
      height: 0rem; } }

/*--------------------*         Header
\*--------------------*/
.header {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #f7f5f5;
  border-bottom: 1px solid #d7d5d5;
  z-index: 10; }

.navbar {
  border: none; }

@media screen and (max-width: 790px) {
  .nav {
    position: relative; } }

.navbar-inverse {
  background-color: #f7f5f5;
  margin-left: 4%;
  margin-right: 4%; }

.navbar-nav {
  display: inline-block;
  position: relative;
  padding-top: 12px; }
  @media (min-width: 790px) {
    .navbar-nav {
      float: right; } }

.logo {
  display: inline-block;
  position: relative;
  float: left;
  max-height: 50px;
  max-width: 285px; }
  @media screen and (max-width: 790px) {
    .logo {
      display: inline-block;
      position: relative;
      margin: auto;
      float: none;
      margin-top: .5rem;
      max-width: 190px; } }

.navbar-brand {
  padding: 12px; }
  @media (min-width: 790px) {
    .navbar-brand {
      padding-left: 0; } }

ul.menu {
  display: inline-block;
  position: relative;
  float: right;
  bottom: 5px; }
  @media screen and (max-width: 790px) {
    ul.menu {
      display: none; } }

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent; }

.navbar-toggle .icon-bar {
  width: 40px;
  height: 4px;
  margin-top: 12px;
  color: #231F20; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #231F20; }

.navbar-inverse .navbar-toggle {
  border: none; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none; }
  @media screen and (max-width: 790px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background-color: #ffffff;
      padding-bottom: .5rem; } }

/*--------------------*         Hero
\*--------------------*/
.hero {
  position: relative;
  margin-left: 0px;
  width: 100%;
  height: 90vh;
  background-color: #231F20; }

.hero_img {
  position: relative;
  margin-left: 0px;
  background-image: url("../images/spacexxx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: .7;
  width: 100%;
  height: 90vh; }

.slogan {
  position: absolute;
  bottom: 150px;
  left: 23%;
  right: 23%;
  text-align: center;
  opacity: 100; }
  @media screen and (max-width: 790px) {
    .slogan {
      left: 10%;
      right: 10%;
      bottom: 5%; } }

@media screen and (max-width: 790px) {
  .slogan-txt {
    font-size: 1.85rem; } }

/*--------------------*         About
\*--------------------*/
.about {
  position: relative;
  width: 63%;
  margin: auto;
  padding: 35px;
  padding-top: 50px;
  max-width: 800px; }
  @media screen and (max-width: 790px) {
    .about {
      width: 80%; } }

.about_leadin {
  text-align: center; }

.list {
  padding-left: 2rem; }

/*--------------------*         Team  //FIXME section needs cleaning
\*--------------------*/
.team {
  position: relative;
  margin: auto;
  width: 80%;
  padding-top: 20px;
  height: auto; }
  @media screen and (max-width: 790px) {
    .team {
      max-width: 400px;
      margin: 0 auto; } }
  .team .person_left {
    float: center;
    position: relative;
    display: inline-block;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem; }
  .team .person_center {
    float: center;
    position: relative;
    display: inline-block;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem; }
  .team .person_right {
    float: center;
    position: relative;
    display: inline-block;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem; }
  .team .person {
    width: 100%;
    object-fit: contain; }
  @media screen and (min-width: 790px) {
    .team {
      position: relative;
      text-align: center;
      margin: 0 auto 65px;
      max-width: 900px;
      padding: 20px; }
      .team .person_left {
        float: left;
        position: relative;
        display: inline-block;
        width: 31%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: white; }
      .team .person_center {
        float: none;
        position: relative;
        display: inline-block;
        width: 31%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: white; }
      .team .person_right {
        float: right;
        position: relative;
        display: inline-block;
        width: 31%;
        max-width: 400px;
        margin-bottom: 20px;
        background-color: white; } }

.clear {
  clear: both; }

/*--------------------*         Footer  //Could be cleaned
\*--------------------*/
.footer {
  padding: 1.5rem 0; }

.footer_container {
  margin: 0 auto;
  width: 80%;
  border-top: 1px solid #d7d5d5; }

.co_name {
  position: relative;
  float: left;
  margin: 1.7rem 0; }
  @media screen and (max-width: 515px) {
    .co_name {
      margin: 1rem auto 0; } }

.contact_us {
  position: relative;
  float: right;
  margin: 1.7rem 0; }
  @media screen and (max-width: 515px) {
    .contact_us {
      margin: .8rem auto 1.6rem;
      float: left; } }
